package pages

import "github.com/gabriel-panz/gojam/ui/components"

templ Home() {
	@components.Base() {
		<nav>
			<h1>Go Jam!</h1>
		</nav>
		@components.SessionCreate()
		@components.AuthRefresh(3600)
	}
	<style>
		.list {
			list-style: none;
		}

		.list li {
			border: 1px solid black;
			margin: 1rem;
		}
	</style>
}
